.scrollToTopButton {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: var(--tc);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 13px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.scrollToTopButton:hover {
  background-color: #097a93;
}
