:root {
  --tc: #1565c0;
  --accent: #66bb6a;
  --cta: #fb8c00;
  --fc-1: #263238;
  --fc-2: #546e7a;
  --fc-3: #b0bec5;
  --light: #ffffff;
  --dark: #000000;
  --bg: rgba(245, 245, 245, 0.6);
  --bg-2: rgba(245, 245, 245, 0.9);
  --link: var(--cta);
  --link-hover: #e65100;
  --danger: #e53935;
  --info: #29b6f6;
  --x-color: #000000;
  --fb-color: #1877f2;
  --li-color: #0a66c2;
  --travel: #7b1fa2;
}

body {
  margin: 0;
  font-family: var(--theme-font), -apple-system, BlinkMacSystemFont, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13.33px;
  color: var(--fc-1);
  font-weight: 600;
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

#root {
  display: grid;
  grid-template-columns: 1fr minmax(0, 920px) 1fr;
  width: 100%;
  min-height: 100vh;
  padding: 10px 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: var(--tc);
  color: var(--light);
}

.home_box {
  width: 100%;
  max-width: 920px;
  grid-column: 2;
  padding: 10px;
  border-left: 0.8px solid var(--accent);
  border-right: 0.8px solid var(--accent);
  box-sizing: border-box;
}

.footer_top {
  min-height: calc(100% - 48px);
  overflow: hidden;
}

.react-calendar__tile--active {
  background-color: var(--tc) !important;
  color: var(--light) !important;
}

.react-calendar__tile--now {
  background-color: var(--light) !important;
  color: var(--tc) !important;
}

.react-calendar__tile--active:hover {
  background-color: var(--tc) !important;
}

.react-calendar__tile {
  background-color: var(--light);
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:focus {
  background-color: var(--tc) !important;
  color: var(--light) !important;
}

.react-calendar__tile--hasActive {
  background-color: var(--tc) !important;
  color: var(--light) !important;
}

.Toastify__toast {
  width: 300px;
  min-height: 45.6px;
  font-size: 15px;
  background-color: var(--tc);
  border-radius: 4px;
}

.toastify_progress {
  background-color: var(--light);
}

.left_ad_box {
  grid-column: 1;
}

.right_ad_box {
  grid-column: 3;
}

.left_ad_box,
.right_ad_box {
  min-height: 100%;
  padding: 0 10px;
}

.tz_multi_select__value-container::-webkit-scrollbar {
  height: 2px;
}

.tz_multi_select__value-container::-webkit-scrollbar-thumb {
  background-color: var(--tc);
  border-radius: 4px;
}

.tz_multi_select__value-container::-webkit-scrollbar-track {
  background-color: var(--bg);
}

.tz_multi_select__menu-list::-webkit-scrollbar,
.react_select_scroll__menu-list::-webkit-scrollbar {
  width: 6px;
}

.tz_multi_select__menu-list::-webkit-scrollbar-thumb,
.react_select_scroll__menu-list::-webkit-scrollbar-thumb {
  background-color: var(--tc);
  border-radius: 4px;
}

.tz_multi_select__menu-list::-webkit-scrollbar-track,
.react_select_scroll__menu-list::-webkit-scrollbar-track {
  background-color: rgba(11, 159, 188, 0.2);
  border-radius: 4px;
}

.react-datetime-picker__wrapper {
  border: 0.8px solid var(--accent);
  background-color: var(--bg);
  border-radius: 4px;
  padding: 4.7px 5.77px;
  min-width: 260px;
}

.react-datetime-picker__button {
  padding: 4px 3.77px;
}

.react-datetime-picker__wrapper ::placeholder {
  color: var(--fc-2);
}

@media (max-width: 920px) {
  .home_box {
    border: 0;
  }
}

@media (max-width: 960px) {
  #root {
    display: flex;
    justify-content: center;
  }

  .left_ad_box,
  .right_ad_box {
    display: none;
  }
}
