.custom_btn {
  cursor: pointer;
  margin: 2px;
  border: 0.8px solid var(--accent);
  display: inline-flex;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  color: var(--fc-1);
  background: var(--bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  align-items: center;
}

.custom_btn:hover {
  border-color: var(--fc-1);
  background: var(--light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.custom_btn:active {
  color: var(--tc);
}
