.footer {
  background-color: var(--tc);
  text-align: center;
  padding: 1rem 0;
  font-family: Arial;
  font-weight: 500;
  width: 100%;
  border-radius: 8px;
}

.footer p {
  margin: 0;
  color: var(--light);
}
